@media (min-width: 300px) {

    .Container-burger-menu {
        position: absolute;
        display: flex;
        top: 50px;
        right: 18px;
        align-items: center;
        height: 36px;
        width: 36px;
        z-index: 3;
    }
    
    .MenuBurger,
    .MenuBurger::before,
    .MenuBurger::after {
        content: "";
        position: absolute;
        display: block;
        background-color: #E62721;
        height: 4px;
        width: 36px;
        border-radius: 5px;
        transition: all 1s;
    }
    
    .MenuBurger::before {
        transform: translateY(-12px);
    }
    
    .MenuBurger::after {
        transform: translateY(12px);
    }
    
    .Container-burger-menu.active .MenuBurger {
        background-color: transparent;
    }
    
    .Container-burger-menu.active .MenuBurger::before {
        transform: rotate(45deg);
    }
    
    .Container-burger-menu.active .MenuBurger::after {
        transform: rotate(-45deg);
    }

}

@media (min-width: 768px) {
    .Container-burger-menu {
        display: none;
    }
}