footer {
    position: relative;
    margin-top: 30px;
    background: rgba(12, 11, 11, 0.78);
    height: 50px;
    display: flex;
    justify-self: end;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 700px) {
    footer {
        margin-top: 150px;
    }
}
